<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5911.0">
	<notifications newPostNotificationTemplateId="b43f1cbd-91c2-6de9-92ec-ff000072a2d0" newThreadNotificationTemplateId="b53f1cbd-91c2-6de9-92ec-ff000072a2d0" />
</forumsConfig>