<?xml version="1.0" encoding="utf-8"?>
<sitemapConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5911.0">
	<siteConfigs>
		<add isEnabled="True" urlLimit="50000" compress="True" condition="Manual" siteName="marsdrinks" dayToStart="1" timeToStart="00:00" pingGoogle="True" pingBing="True" siteId="9b880cb7-ea0d-42e2-b937-05fa6b2c1fcf" />
	</siteConfigs>
</sitemapConfig>