@using Telerik.Sitefinity.GenericContent.Model
@model SitefinityWebApp.Mvc.Models.ContentWidgetModel

@if (Model.ContentItems != null && Model.ContentItems.Any())
{
    <div class="content-area primary pid_home" id="home">
        @{
            int itemIndex = 1;
            foreach (ContentItem item in Model.ContentItems)
            {
                string itemId = "p" + itemIndex;
                <section id="@itemId">
                    @if (itemIndex > 1)
                    {
                        <div class="shadow">
                            <a class="scroller yellow"></a>
                        </div>
                    }

                    @Html.Raw(item.Content)
                </section>

                itemIndex++;
            }
        }
    </div>

    <section class="pid_home" id="back-to-top-section">
        <div class="shadow back-to-top"><a class="scroller red"></a></div>
    </section>
}
            
<script>
    $(function () {
        $('div#home .shadow').click(function () {
            $('html, body').animate({
                scrollTop: $(this).offset().top
            }, 'slow');
        });
        $('#back-to-top-section').click(function () {
            $('html, body').animate({
                scrollTop: $("#home").offset().top
            }, 'slow');
        });
    });
</script>